.hero {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.hero-image {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
}

.hero-title {
    color: var(--clr-slate400);
    text-transform: uppercase;
    font-size: var(--size-4xl);
    letter-spacing: -0.05em;
    line-height: 0.9;
}

.hero-subtitle {
    color: var(--clr-slate800);
    font-size: var(--size-base);
    line-height: 0.9;
}

.hero-emote {
    color: var(--clr-amaranth);
}

.hero-description {
    max-width: 60ch;
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

.hero-btn {
    text-transform: capitalize;
    font-size: var(--size-sm);
}


/* xs */
@media (min-width: 475px) {
    .hero {
        gap: 1.5rem;
    }

    .hero-image {
        width: 6.5rem;
        height: 6.5rem;
    }

    .hero-title {
        font-size: var(--size-5xl);
    }

    .hero-subtitle {
        font-size: var(--size-lg);
    }

    .hero-description {
        font-size: var(--size-base);
    }

    .hero-btn {
        font-size: var(--size-base);
    }
}

/* lg */
@media (min-width: 1024px) {
    .hero-image {
        width: 8rem;
        height: 8rem;
    }

    .hero-title {
        font-size: var(--size-7xl);
    }

    .hero-subtitle {
        font-size: var(--size-2xl);
    }

    .hero-description {
        font-size: var(--size-lg);
    }

    .hero-btn {
        font-size: var(--size-lg);
    }
}

/* xl */
@media (min-width: 1280px) {
    .hero {
        gap: 2rem;
    }

    .hero-image {
        width: 10rem;
        height: 10rem;
    }

    .hero-title {
        font-size: var(--size-9xl);
    }

    .hero-subtitle {
        font-size: var(--size-4xl);
    }

    .hero-description {
        font-size: var(--size-xl);
    }

    .hero-btn {
        font-size: var(--size-xl);
    }
}

.hero-degree {
    color: var(--clr-amaranth);
}